<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"  href="/static/css/style.css">
    <title>Photography Website</title>
  </head>
  <body>
    {{>navbar data=details}}
    {{>slider slides=slides}}

    {{!-- services section --}}

    <section id="services_section" class="py-4">
         <div class="container">
               <h1 class="text-center text-secondary"> Services that we provide</h1>
               <div class="row mt-5">
                {{!-- first service card --}}
                {{#each services}}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="container text-center py-3">
                                <i class="{{this.icon}}  service_icon text-secondary"></i>
                            </div>
                            <h5 class="card-title">{{this.title}}</h5>
                            <p>{{this.description}} </p>
                            <a href="{{this.linkText}}">{{this.link}}</a>
                            <a href="#!" class="ml-8">Support</a>
                        </div>
                    </div>
                </div>
                {{/each}}
               </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>